.home
{
position:relative;
bottom:860px;
right:-215px;
border:none;
font-family:arial;
background-color:transparent;
color:gainsboro;
font-size:17px;
transition-duration:.5s;
font-weight:600;
animation-name:one;
animation-duration:1.5s;
}
@keyframes one
{
from{color:black;}
/* to{color:} */
}

.home:hover
{
font-size:17px;
text-decoration:underline;
color:white;
font-weight:bold;
transform:scale(1.1);
cursor:pointer;
}

.circular
{
position:relative;
bottom:860px;
right:-215px;
border:none;
font-family:arial;
background-color:transparent;
color:gainsboro;
font-size:17px;
transition-duration:.5s;
font-weight:600;
animation-name:two;
animation-duration:2.2s;
}
@keyframes two
{
from{color:black;}
/* to{color:;} */
}

.circular:hover
{
font-size:17px;
text-decoration:underline;
color:white;
font-weight:bold;
transform:scale(1.1);
cursor:pointer;
}

.digital
{
position:relative;
bottom:860px;
right:-215px;
border:none;
font-family:arial;
background-color:transparent;
color:gainsboro;
font-size:17px;
transition-duration:.5s;
font-weight:600;
animation-name:three;
animation-duration:2.9s;
}
@keyframes three
{
from{color:black;}
/* to{color:;} */
}

.digital:hover
{
font-size:17px;
text-decoration:underline;
color:white;
font-weight:bold;
transform:scale(1.1);
cursor:pointer;
}
.electric
{
position:relative;
bottom:860px;
right:-215px;
border:none;
font-family:arial;
background-color:transparent;
color:gainsboro;
font-size:17px;
transition-duration:.5s;
font-weight:600;
animation-name:four;
animation-duration:3.6s;
}
@keyframes four
{
from{color:black;}
/* to{color:;} */
}

.electric:hover
{
font-size:17px;
text-decoration:underline;
color:white;
font-weight:bold;
transform:scale(1.1);
cursor:pointer;
}

.freude
{
position:relative;
bottom:860px;
right:-215px;
border:none;
font-family:arial;
background-color:transparent;
color:gainsboro;
font-size:17px;
transition-duration:.5s;
font-weight:600;
animation-name:five;
animation-duration:4.3s;
}
@keyframes five
{
from{color:black;}
/* to{color:;} */
}

.freude:hover
{
font-size:17px;
text-decoration:underline;
color:white;
font-weight:bold;
transform:scale(1.1);
cursor:pointer;
}

.models
{
position:relative;
bottom:860px;
right:-215px;
border:none;
font-family:arial;
background-color:transparent;
color:gainsboro;
font-size:17px;
transition-duration:.5s;
font-weight:600;
animation-name:five;
animation-duration:5s;
}
@keyframes five
{
from{color:black;}
/* to{color:;} */
}

.models:hover
{
font-size:17px;
text-decoration:underline;
color:white;
font-weight:bold;
transform:scale(1.1);
cursor:pointer;
}

.firstImg{

width:100%;
height:auto;
transition-duration:4s;
background-size:cover;
filter:brightness(80%);


}
.firstImg:hover
{
transform:scale(1.1);
cursor:pointer;
filter:brightness(50%);


}
.firstDiv{
width:1501px;
background-size:cover;
overflow:hidden;
margin:-10px 20px 0px -10px;
padding:0px 50px 10px -20px;
position:relative;
transform:scale(1.027);
}


#search
{
background-color:transparent;
border:none;
font-family:arial;
font-weight:bold;
color:gainsboro;
left:230px;
font-size:14px;
position:relative;
bottom:860px;
transition-duration:.5s;
height:35px;
animation-name:bar;
animation-duration:3s;

}

@keyframes bar
{
from{color:gainsboro;}
to{color:black;}
}
#search:active
{
border:transparent;
background-color:gainsboro;
}
::placeholder
{
font-size:30px;
text-align:left;
color:gainsboro;
animation-name:holder;
animation-duration:5s;
}
@keyframes holder
{
from{color:black;}
/* to{color:;} */
}


.logo
{
position:relative;
bottom:800px;
margin-left:100px;

}
.line
{
position:relative;
bottom:860px;
color:gainsboro;
right:27px;
border: solid .4px;
width:670px;
animation-name:enter;
animation-duration:4s;

}
@keyframes enter
{
from{color:black;}
/* to{color:;} */
}

.art
{
position:relative;
bottom:750px;
right:550px;
color:gainsboro;
font-size:28px;
font-family:arial;
}

.herve
{
position:relative;
bottom:780px;
right:260px;
font-weight:normal;
color:gainsboro;
font-size:70px;
font-family:arial;

}

.more
{
background-color:transparent;
border:2px solid white;
text-align:center;
width:195px;
height:50px;
bottom:800px;
right:534px;
color:white;
position:relative;
font-family:arial;
font-weight:bold;
transition-duration:0.5s;
font-size:15px;
}

.more:hover
{
cursor:pointer;
background-color:white;
color:black;
}


.second
{
border:solid 2px white;
width:760px;
object-fit:fill;
overflow:hidden;
position:absolute;
top:580px;
left:0px;
}

.div2
{
width:760px;
transition-duration:4s;
}
.div2:hover

{
transform:scale(1.1);
filter:contrast(50%);

}

.third
{
border:solid 2px white;
width:760px;
object-fit:fill;
position:absolute;
top:580px;
overflow:hidden;
right:0px;
}

.div3
{
width:760px;
transition-duration:4s;

}
.div3:hover
{
transform:scale(1.1);
filter:brightness(50%);
}

.shear
{
position:relative;
bottom:805px;
right:273px;
font-family:arial;
color:gainsboro;
font-size:17px;
}

.greenCar
{
position:relative;
bottom:310px;
left:-500px;
color:#292928;
text-decoration:none;
font-size:28px;
font-family:arial;

}


.car76
{
position:relative;
bottom:400px;
color:gainsboro;
font-size:28px;
text-decoration:none;
font-family:arial;
margin-left:350px;
}


.munich
{
position:relative;
bottom:400px;
left:-390px;
color:#292928;
text-decoration:none;
font-size:50px;
font-family:arial;
}

.history
{
position:relative;
bottom:550px;
text-decoration:none;
text-align:right;
left:-140px;
color:gainsboro;
font-size:50px;
font-family:arial;
}
.more2
{
background-color:transparent;
border:2px solid #292928;
text-align:center;
width:195px;
height:50px;
bottom:630px;
right:470px;
color:#292928;
position:relative;
font-family:arial;
font-weight:bold;
transition-duration:0.5s;
font-size:15px;
}

.more2:hover
{
cursor:pointer;
background-color:#292928;
color:white;
}

.more3
{
background-color:transparent;
border:2px solid white;
text-align:center;
width:195px;
float:right;
height:50px;
bottom:630px;
right:470px;
color:white;
position:relative;
font-family:arial;
font-weight:bold;
transition-duration:0.5s;
font-size:15px;
}

.more3:hover
{
cursor:pointer;
background-color:white;
color:black;
}

.link1
{
text-decoration:none;
}

.cars
{
position:relative;
bottom:600px;
text-decoration:none;
text-align:right;
left:-555px;
color:gainsboro;
font-size:50px;
font-family:arial;
}

.learn
{
font-size:80px;
position:relative;
font-family:arial;
bottom:570px;
color:#292928;
}


.group
{
width:720px;
border:solid 2px white;
position:relative;
bottom:610px;
left:37px;
height:410px;
overflow:hidden;
}
.employee
{
width:720px;
height:410px;
transition-duration:4s;
}
.employee:hover
{
transform:scale(1.1);
filter:brightness(50%);
}


.group2
{
width:720px;
border:solid 2px white;
position:relative;
bottom:1023px;
left:754px;
height:410px;
overflow:hidden
}
.logo2
{
width:720px;
height:420px;
transform:scaley(1.3);
transition-duration:4s;
}
.logo2:hover
{
transform:scaley(1.2);
filter:contrast(50%);
}


.robotDog
{
position:relative;
bottom:1100px;
left:-430px;
color:gainsboro;
text-decoration:none;
font-size:18px;
font-family:arial;
}


.upperText
{
position:relative;
bottom:1170px;
text-align:right;
right:550px;
color:#292928;
text-decoration:none;
font-size:18px;
font-family:arial;
}

.explained
{
position:relative;
bottom:1180px;
text-align:right;
right:408px;
color:#292928;
text-decoration:none;
font-size:18px;
font-family:arial;
}

.country
{
font-family:arial;
color:#292928;
font-size:40px;
position:relative;
bottom:1130px;
}
.allModels
{
font-size:80px;
position:relative;
font-family:arial;
bottom:1200px;
color:#292928;
}

.find
{
font-family:arial;
color:#292928;
font-size:40px;
position:relative;
bottom:1280px;
padding-bottom:30px;
border:none ;
transition-duration:1s;
background-color:transparent;
}

.find:hover
{
cursor:pointer;
transform:scale(1.2);
opacity:0.7;
}

.biggerDiv
{
border:solid 2px white;
position:relative;
height:3420px;
bottom:1250px;
margin-bottom:-1000px;
width:1500px;
}
.endDiv
{
border:solid 2px green;
height:720px;
position:relative;
bottom:0px;
margin-bottom:00px;
}
.similar
{
border:solid 2px white;
float:Left;
height:562px;
width:1002px;
overflow:hidden;
}
.newClass
{
width:1002px;
transition-duration:4s;
}
.newClass:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.concept
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.tradition
{
position:relative;
text-align:left;
right:146px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.car20
{
border:solid 2px white;
float:right;
width:490px;
overflow:hidden;
height:279px;

}
.red
{
width:490px;
text-decoration:none;
height:279px;
margin-bottom:0px;
transition-duration:4s;
}
.red:hover
{
filter:brightness(50%);
transform:scale(1.1);
}


.red20
{
position:relative;
font-family:arial;
bottom:100px;
right:-30px;
font-size:17px;
float:left;
color:gainsboro;
}
.julie
{
position:relative;
bottom:70px;
right:166px;
font-family:arial;
font-size:15px;
color:gainsboro;

}
.noDesign
{
text-decoration:none;
}
.xm
{
border:solid 2px white;
width:490px;
margin-top:1px;
overflow:hidden;
float:right;
height:279px;
}
.purple
{
width:490px;
height:279px;
transition-duration:4s;
}
.purple:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.allure
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.fashion
{
position:relative;
text-align:left;
right:235px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}
.moving
{
border:solid 2px white;
width:498px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.drift

{
width:498px;
height:280px;
transition-duration:4s;
}
.drift:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.innovation
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.flow
{
position:relative;
right:194px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.stylish
{
border:solid 2px white;
width:498px;
margin-left:3px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.doors
{
width:498px;
height:280px;
transition-duration:4s;
}
.doors:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.sign
{

position:relative;
font-family:arial;
right:140px;
bottom:90px;
font-size:17px;
color:gainsboro;
text-decoration:none;
}
.durability
{
position:relative;
right:129px;
font-family:arial;
font-size:15px;
bottom:100px;
color:gainsboro;
text-decoration:none;
}
.kids
{
border:solid 2px white;
width:490px;
margin-right:0px;
margin-top:2px;
overflow:hidden;
float:right;
height:280px;
}
.rcCar
{
width:488px;
height:280px;
transition-duration:4s;
}
.rcCar:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.legoxbmw
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.detail
{
position:relative;
right:134px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}
.x
{
border:solid 2px white;
width:498px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.fiber
{
width:498px;
height:280px;
transition-duration:4s;
}
.fiber:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.tactile
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.touch
{
position:relative;
right:178px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}
.switching
{
border:solid 2px white;
float:right;
margin-top:2px;
overflow:hidden;
height:565px;
width:994px;
}
.klasse
{
width:994px;
height:565px;
transition-duration:4s;
}
.klasse:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.vision
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.welcome
{
position:relative;
right:408px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.simple
{
border:solid 2px white;
width:498px;
overflow:hidden;
margin-top:2px;
float:left;
height:280px;
}
.basic
{
width:498px;
height:280px;
transition-duration:4s;
}
.basic:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.achieve
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.imitation
{
position:relative;
right:179px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}


.still
{
border:solid 2px white;
width:498px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.bw

{
width:498px;
height:280px;
transition-duration:4s;
}
.bw:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.film
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.forever
{
position:relative;
right:184px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.wide
{
border:solid 2px white;
width:498px;
margin-left:2px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.desert
{
width:498px;
height:280px;
transition-duration:4s;
}
.desert:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.rally
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.offroad
{
position:relative;
right:143px;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.hyper
{
border:solid 2px white;
width:490px;
margin-right:1px;
overflow:hidden;
margin-top:1.5px;
float:right;
height:281px;
}
.lights
{
width:488px;
height:281px;
transition-duration:4s;
}
.lights:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.bright
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.pioneer
{
position:relative;
right:123px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.circle
{
border:solid 2px white;
float:left;
margin-top:2px;
height:565px;
overflow:hidden;
width:1002px;
}
.podcast
{
width:1002px;
height:565px;
transition-duration:4s;
}
.podcast:hover
{
filter:brightness(50%);
transform:scale(1.1);
color:gainsboro;
}
.superheroes
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:#292928;
text-decoration:none;
}
.freeing
{
position:relative;
right:153px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:#292928;
text-decoration:none;
}

.boy
{
border:solid 2px white;
width:488px;
overflow:hidden;
margin-right:1px;
margin-top:1.5px;
float:right;
height:281px;
}
.sun
{
width:488px;
height:281px;
transition-duration:4s;
}
.sun:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.joy
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.luxury
{
position:relative;
right:64px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.random
{
border:solid 2px white;
width:488px;
margin-right:1px;
margin-top:1.5px;
overflow:hidden;
float:right;
height:279.5px;
}
.spin
{
width:488px;
height:279.5px;
transition-duration:4s;
}
.spin:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.mobile
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.i5
{
position:relative;
right:127px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.vintage
{
border:solid 2px white;
width:498px;
margin-top:2px;
float:left;
overflow:hidden;
height:280px;
}
.old

{
width:498px;
height:280px;
transition-duration:4s;
}
.old:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.explanation
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.kink
{
position:relative;
right:95px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}


.moon
{
border:solid 2px white;
width:498px;
overflow:hidden;
margin-left:3px;
margin-top:2px;
float:left;
height:280px;
}
.night
{
width:498px;
height:280px;
transition-duration:4s;
}
.night:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.story
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.space
{
position:relative;
right:100px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}


.twoCars
{
border:solid 2px white;
width:488px;
overflow:hidden;
margin-right:1px;
margin-top:1.5px;
float:right;
height:280px;
}
.wild
{
width:488px;
height:280px;
transition-duration:4s;
}
.wild:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.experience
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.new
{
position:relative;
right:181px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.smart
{
border:solid 2px white;
width:499px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.headlight

{
width:499px;
height:280px;
transition-duration:4s;
}
.headlight:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.newVision
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.mobility
{
position:relative;
right:173px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.blue
{
border:solid 2px white;
float:right;
margin-top:2px;
overflow:hidden;
height:565px;
filter:brightness(90%);
width:992px;
}
.print
{
width:992px;
height:565px;
transition-duration:4s;
}
.print:hover
{
filter:brightness(50%);
transform:scale(1.1);
}
.no2
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.garage
{
border:solid 2px white;
width:498px;
margin-left:0px;
margin-top:2px;
overflow:hidden;
float:left;
height:280px;
}
.threeCar
{
width:498px;
height:280px;
transition-duration:4s;
}
.threeCar:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.the
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.era
{
position:relative;
right:152px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.yellow
{
border:solid 2px white;
width:498px;
margin-top:2px;
overflow:hidden;
float:right;
height:280px;
}
.fluid

{
width:498px;
height:280px;
transition-duration:4s;
}
.fluid:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.myths
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.video
{
position:relative;
right:118px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}


.science
{
border:solid 2px white;
width:498px;
margin-left:0px;
overflow:hidden;
margin-top:2px;
float:left;
height:280px;
}
.diagram
{
width:498px;
height:280px;
transition-duration:4s;
}
.diagram:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.guide
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.hydrogen
{
position:relative;
right:17px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}

.final
{
border:solid 2px white;
width:488px;
overflow:hidden;
margin-left:4px;
margin-top:2px;
float:left;
height:280px;
}
.foldHands
{
width:488px;
height:280px;
transition-duration:4s;
}
.foldHands:hover
{
filter:brightness(50%);
transform:scale(1.1);
}

.audio
{
position:relative;
bottom:100px;
left:30px;
font-family:arial;
font-size:17px;
float:left;
color:gainsboro;
text-decoration:none;
}
.startup
{
position:relative;
right:83px;
text-align:left;
font-family:arial;
font-size:15px;
bottom:70px;
color:gainsboro;
text-decoration:none;
}


.bmw
{
font-size:61px;
position:relative;
font-family:arial;
right:485px;
bottom:1100px;
color:#292928;
}
.take
{
font-size:40px;
position:relative;
font-family:arial;
right:-10px;
bottom:1200px;
color:#292928;
}
.brief
{
font-size:25px;
position:relative;
font-align:justify;
font-family:arial;
right:-10px;
bottom:1240px;
color:#292928;
}
.bold
{
font-size:25px;
position:relative;
font-align:justify;
font-family:arial;
right:-10px;
bottom:1240px;
color:#292928;
font-weight:bold;
}

.finalDestination
{
border:2px solid white;
position:relative;
transform:scaley(1.497);
background-color:#292928;
width:1500px;
}
.english
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gainsboro;
transform:scaley(0.8);
position:relative;
right:980px;
bottom:950px;
cursor:pointer;
}
.deutsch
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.8);
position:relative;
right:960px;
bottom:950px;
cursor:pointer;
transition-duration:0.2s;
}
.deutsch:hover
{
cursor:pointer;
color:gainsboro;
}


.italiano
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.8);
position:relative;
right:940px;
bottom:950px;
cursor:pointer;
transition-duration:0.2s;
}
.italiano:hover
{
cursor:pointer;
color:gainsboro;
}
.french
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.8);
position:relative;
right:920px;
bottom:950px;
cursor:pointer;
transition-duration:0.2s;
}
.french:hover
{
cursor:pointer;
color:gainsboro;
}

.espanol
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.8);
position:relative;
right:900px;
bottom:950px;
cursor:pointer;
transition-duration:0.2s;
}
.espanol:hover
{
cursor:pointer;
color:gainsboro;
}

.chinese
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.8);
position:relative;
right:880px;
bottom:950px;
cursor:pointer;
transition-duration:0.2s;
}
.chinese:hover
{
cursor:pointer;
color:gainsboro;
}


.quick
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gainsboro;
transform:scaley(.75);
position:relative;
right:640px;
bottom:930px;
transition-duration:0.2s;
}
.ql
{
position:relative;
bottom:940px;
width:160px;
right:595px;
border: none;
background-color:gray;
height:.2px;
}
.websites
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gainsboro;
transform:scaley(.75);
position:relative;
right:294px;
bottom:975px;
transition-duration:0.2s;
}
.mbw
{
position:relative;
bottom:985px;
width:160px;
right:279px;
border: none;
background-color:gray;
height:.2px;
}


.com
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gainsboro;
transform:scaley(.75);
position:relative;
right:7px;
bottom:1020px;
transition-duration:0.2s;
}
.bc
{
position:relative;
bottom:1031px;
width:160px;
right:-42px;
border: none;
background-color:gray;
height:.2px;
}


.visit
{
background-color:white;
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gainsboro;
transform:scaley(.75);
position:relative;
float:right;
right:399px;
bottom:1075px;
transition-duration:0.2s;
}
.lastLine
{

position:relative;
bottom:1040px;
width:160px;
right:-400px;
border: none;
background-color:gray;
height:.2px;
}
.b1
{
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.75);
position:relative;
font-weight:bold;
right:546px;
bottom:1040px;
cursor:pointer;
transition-duration:0.2s;
}
.b1:hover
{
cursor:pointer;
color:gainsboro;
}


.b2
{
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.75);
position:relative;
font-weight:bold;
right:597px;
bottom:1045px;
cursor:pointer;
transition-duration:0.2s;
}
.b2:hover
{
cursor:pointer;
color:gainsboro;
}


.noUnderline
{
text-decoration:none;
color:gray;
transition-duration:0.2s;
}
.noUnderline:hover
{
color:gainsboro;
}

.b3
{
font-family:arial;
border:none;
background-color:transparent;
font-size:14px;
color:gray;
transform:scaley(0.75);
position:relative;
font-weight:bold;
right:605px;
bottom:1040px;
cursor:pointer;
transition-duration:0.2s;
}
.b3:hover
{
cursor:pointer;
color:gainsboro;
}

